.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    justify-content: center;
  }
  
  .gallery img {
    width: 360px;
    height: 300px;
    object-fit: cover; 
  }
  