h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 0;
}

.item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
    margin: 24px;
    width: 392px;
    background: #f6f6fe;
}

.item ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

}

.item li{
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    align-content: center;
    padding-left: 16px;
}

#categories{
    display: flex;
    gap: 24px;
    box-sizing: border-box;
    flex-direction: column;
    width: 392px;
}

#categories .item{
   margin: 0;
}